.chat {
    display:flex;
    flex-direction: column;
    flex: 0.65;
}
.chat-header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom : 1px solid lightgray;
}
.chat-headerInfo{
    flex:1;
    padding-left: 20px;
}
.chat-headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}
.chat-headerInfo > p {
   color: gray; 
}

.chat-body{
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png") ;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat-message {
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 30px; 
}

.chat-receiver{
    margin-left: auto;
    background-color: #dcf8c6;

}

.chat-timestamp {
    margin-left: 10px;
    font-size: xx-small;
}
.chat-name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}
.chat-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}
.chat-footer > form {
    flex: 1;
    display: flex;
}
.chat-footer > form > input {
    outline-width: 0;
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
.chat-footer > form > button {
    display: none;
}
.chat-footer > .MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}


