.login {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.login-container{
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 3px 4px rgba(19, 18, 18, 0.12);
}

.login-container > img{
    object-fit: contain;
    height: 130px;
    margin-bottom: 40px;
}

.login-container > button {
    margin-top: 30px;
    text-transform: inherit !important;
    background-color: #129cdb;
    color: white;
}
.login-container > button:hover {
    background-color: rgb(20, 184, 88);
}